.filter-container input[type="checkbox"] {
    border-radius: 4px;
    border: 1.5px;
    border-color: #6C7275;
    transform: scale(1.5);
}

.filter-container label {
    width: 92%;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: #6C7275;
}

.filter-container input:checked {
    accent-color: #141718;
}

.price-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
}
