.wishlist-button {
    border: 1px solid black;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #141718;
}
